html

    head

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css", integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ", crossorigin="anonymous")

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe", crossorigin="anonymous")

    body(style="background-image: url('/images/b1.jpg') ;   background-size: cover; ")

        if info

            h4(style="background-image: url('/images/logo.png') ;   background-size:auto").d-flex.justify-content-between.mt-3.mx-3= info  

               

                
                 
                a(href="logout" class="") Logout from Session    

        
        div.container
        
            h2.display-6.mt-5.d-flex.justify-content-center Welcome to the Database 

            
            
            

            button.btn.btn-success(data-bs-toggle="modal" data-bs-target="#modalAdd" class="mb-4 mt-4") Here you can add a new Pet 

            table.table.table-striped.table-hover#mytable

                thead.bg-warning.font-weight-bold

                    tr
                        td Pet ID

                        td Pet is added by

                        td Name of Pet

                        td Photo

                        td Type of Animal

                        td Date added

                        td Modify

                tbody

                    each row in rows

                        tr

                            td= row.id

                            td= row.user

                            td

                                pre= row.task

                            td

                                img.img-fluid.rounded-circle.img-thumbnail(src=row.url)

                            td
                                pre=row.type                          

                            td= row.date_created

                            td

                                div.row

                                    a.btn.btn-info.edit(href="javascript:void(0);" data-id=row.id data-task=row.task data-url=row.url) Change Information

                                    span &nbsp;&nbsp;&nbsp;

                                    a.btn.btn-danger.delete(href="javascript:void(0);" data-id=row.id) Delete Pet


            //modal form ADD - File upload

            form(action="/task/upload" method="post" enctype="multipart/form-data")

                div.modal.fade#modalAdd(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")

                    div.modal-dialog(role="document")

                        div.modal-content

                            div.modal-header

                                h5.modal-title#exampleModalLabel New Animal Query

                                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")

                            div.modal-body

                                div.form-group

                                    textarea.form-control(name="task" placeholder="Please enter the name of the animal" required)

                                div.form-group.mt-4
                                    
                                    textarea.form-control(name="type" placeholder="Please enter what type is it?" required)

                                div.form-group.mt-4

                                    input.form-control(type="file" name="file")

                            div.modal-footer

                                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel 

                                button.btn.btn-success(type="submit") Save Pet to Database


            //modal form DELETE

            form#add-row-form(action="/task/delete" method="post")

                div.modal.fade#DeleteModal(tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true")

                    div.modal-dialog

                        div.modal-content

                            div.modal-header

                                h5.modal-title#modalLabel Delete Confirmation

                                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")

                            div.modal-body

                                strong Are you sure you want to delete your query?

                            div.modal-footer

                                input.form-control.id(type="hidden" name="id" required)

                                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel

                                button.btn.btn-danger(type="submit") Delete


            //modal form EDIT/UPDATE

            form(action="/task/update" method="post")

                div.modal.fade#EditModal(tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true")

                    div.modal-dialog(role="document")

                        div.modal-content

                            div.modal-header

                                h5.modal-title#modalLabel Details

                                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")

                            div.modal-body

                                div.form-group

                                    textarea.form-control.task(name="task" placeholder=" Edit the name of the animal " required)
                                
                                div.form-group.mt-4

                                    textarea.form-control.task(name ="type" placeholder=" Edit the type of animal" required)

                                div.form-group.mt-4

                                    input.form-control.url(type="text" name="url" placeholder=" Picture URL ")

                            div.modal-footer

                                input.form-control.id(type="hidden" name="id" required)

                                button.btn.bg-secondary(type="button" data-bs-dismiss="modal") Cancel

                                button.btn.btn-info(type="submit") Update Information about this Pet


            script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js")

            script.

                $(document).ready(function(){

                    //showing modal form DELETE

                    $('#mytable').on('click','.delete',function(){

                        $('#DeleteModal').modal('show');

                        $('.id').val($(this).data('id'));

                    });

                   

                    //showing modal form EDIT

                    $('#mytable').on('click','.edit',function(){

                        $('#EditModal').modal('show');

                        $('.id').val($(this).data('id'));

                        $('.task').val($(this).data('task'));

                        $('.url').val($(this).data('url'));

                        $('.type').val($(this).data('type'));

                    });                

                });

            hr.mx-auto(width="80%")


